<div class="app-container">

  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Flat v3</span> Admin</a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src="../assets/images/profile.png">
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title"><span class="highlight">DEMO APP</span></li>
        <li class="navbar-search hidden-sm">
        
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown profile">
          
            <img class="profile-img" src="../app/assets/imagesassets/images/profile.png">
            <div class="title">Profile</div>
          
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username"><%=current_user.email%></h4>
            </div>
            <ul class="action">
              <li>
                <a href="<%=edit_user_registration_path(current_user)%>">
                  Profile
                </a>
              </li>
              <li>
                <a href="<%=registration_path(current_user)%>"" data-method="delete">
                  Delete My Account
                </a>
              </li>
              <li>
                <a href="<%=destroy_user_session_path%>" data-method="delete">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>